/* CABEÇALHO */
.main-header {
    background-color: #f87b06;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo, .search-bar, .brand-name {
    flex: 1 1 100%;
    text-align: center;
    margin: 5px 0;
}

.main-header .logo img {
    max-width: 70px;
    height: auto;
}

.main-header .search-bar input[type="text"] {
    width: 70%;
    padding: 8px;
    color: #000000;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.main-header .search-bar button {
    padding: 8px 20px;
    background-color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.brand-name h2 {
    color: #000000;
    font-size: 20px;
    margin: 0;
}

/* Layout responsivo para telas maiores */
@media (min-width: 768px) {
    .logo, .search-bar, .brand-name {
        flex: 1;
    }

    .logo {
        text-align: left;
    }

    .search-bar {
        text-align: center;
    }

    .brand-name {
        text-align: right;
    }
}

/* SUBMENU */
.sub-header {
    background-color: #cc640e;
    padding: 10px 0;
    text-align: center;
}

.sub-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-menu li a {
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    display: block;
}

.sub-menu li a:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}

/* Menu horizontal para telas maiores */
@media (min-width: 768px) {
    .sub-menu {
        flex-direction: row;
        justify-content: center;
    }
}