/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #cfc5bf;
    margin: 0;
    box-sizing: border-box;
}

button:hover {
    background-color: #dfd5cb;
}

footer {
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    background-color: #f87b06;
    margin-top: 46px;
}

/* Estilo para a seção "Sobre" */
.about {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    text-align: center;
}

.about h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about p,
.about ul {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: justify;
}

.about ul {
    list-style-type: none;
    padding-left: 0;
}

.about ul li {
    margin-bottom: 10px;
}

.about strong {
    color: #FF8C00;
}
